/*---------------------*/
/* ------IMPORTS------ */
/*---------------------*/
@import url(../Palette/colors.css);

/*------------------*/
/* ------BODY------ */
/*------------------*/

* {
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 12pt; */
    /* font-size: clamp(0.5rem, 2vw, 2rem); */
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* Faz a rolagem das âncoras ser suave */
    overflow-x: clip;
    /* Bloqueia overflow horizontal */
    overscroll-behavior-x: none;
}

body {
    display: grid;
    overflow-x: clip;
    /* Bloqueia overflow horizontal */
    overscroll-behavior-x: none;
    color: var(--white);
    background-color: var(--background);
}

section {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* scroll-margin-top: 10vh; */
}

/*----------------*/
/* ------ID------ */
/*----------------*/

#devs {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* cards terão a mesma altura */
    flex-wrap: wrap;
}

/*-------------------*/
/* ------CLASS------ */
/*-------------------*/

.card-devs {
    flex-grow: 1;
    /* width: 30%; */
    width: 80%;
    /* display: flex;
    justify-content: center;
    align-items: start; */
    margin-top: 1rem;
    /* gap: 1%; */
    /* flex-grow: 0.3; */
    /* width: min(0.5fr); */
    background-color: var(--cards);
    border-radius: 10px;
    border-bottom: 1px solid var(--white);
    padding: clamp(1rem, 2vw, 2rem);
}


.card-devs a {
    text-decoration: none;
    color: var(--white);
}

.card-devs a:hover {
    color: var(--gray);
    cursor: pointer;
}

/*-------------------*/
/* -TEXT-FORMATTING- */
/*-------------------*/

h1 {
    /* font-size: clamp(3rem, 7vw, 4rem); */
    font-size: clamp(3rem, 7vw, calc(1vw + 3rem));
}

h2 {
    /* font-size: clamp(2.5rem, 6vw, 3.5rem); */
    font-size: clamp(2.5rem, 6vw, calc(1vw + 2.5rem));
}

h3 {
    /* font-size: clamp(2rem, 5vw, 3rem); */
    font-size: clamp(2rem, 5vw, calc(1vw + 2rem));
}

h4 {
    /* font-size: clamp(1.5rem, 4vw, 2.5rem); */
    font-size: clamp(1.5rem, 4vw, calc(1vw + 1.5rem));
}

h5 {
    /* font-size: clamp(1rem, 3vw, 2rem); */
    font-size: clamp(1rem, 3vw, calc(1vw + 1rem));
}

p {
    /* font-size: clamp(0.5rem, 2vw, 1.5rem); */
    /* font-size: clamp(0.5rem, 2vw, calc(1vw + 0.3rem)); */
    font-size: clamp(0.8rem, 2vw, calc(1vw + 0.5rem));
}

a {
    /* font-size: clamp(0.5rem, 2vw, 1.5rem); */
    /* font-size: clamp(0.5rem, 2vw, calc(1vw + 0.2rem)); */
    font-size: clamp(0.8rem, 2vw, calc(1vw + 0.5rem));
}

/*------------------*/
/* --PLACEHOLDERS-- */
/*------------------*/

/*------------------*/
/* -----MOBILE----- */
/*------------------*/

@media(max-width: 800px) {
}

@media(min-width: 801px) {
}