<!doctype html>
<html lang="pt-br">

<head>
    <title>Marcenaria Morais</title>
    <link rel="icon" type="image/x-icon" href="./img/white_logo.png">
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSS STYLE -->
    <link href="./Devs.css" rel="stylesheet" />
</head>

<body>
    <section id="devs">
        <!--TITLE-->
        <h4>DESENVOLVEDORES</h4>
        <!-- CARDS -->
        <div class="card-devs">
            <h5>Bryan Sá de Almeida</h5>
            <br>
            <p>bryansaalmeida@gmail.com</p>
        </div>

        <div class="card-devs">
            <h5>Felipe Augusto Simão dos Santos</h5>
            <br>
            <p>felipeaugusto070519@gmail.com</p>
        </div>

        <div class="card-devs">
            <h5>João Pedro Alves Oliveira</h5>
            <br>
            <p>contato.jp5508@gmail.com</p>
            <a href="https://github.com/JP5508">https://github.com/JP5508</a>
        </div>

        <div class="card-devs">
            <h5>Wictor Morais Gonçalves</h5>
            <br>
            <p>wictor.morais2@gmail.com</p>
            <a href="https://github.com/Wictor-Moraiis">https://github.com/Wictor-Moraiis</a>
        </div>

        <div class="card-devs">
            <h5>Willian Yago de Jesus Barbosa</h5>
            <br>
            <p>willianyago50@gmail.com</p>
        </div>

    </section>
</body>

</html>