<!doctype html>
<html lang="pt-br">

<head>
    <title>Marcenaria Morais</title>
    <link rel="icon" type="image/x-icon" href="./img/white_logo.png">
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSS STYLE -->
    <link href="./Home.css" rel="stylesheet" />
</head>

<body>
    <!-- NAVBAR -->
    <nav>
        <!--LOGO-->
        <img src="./img/white_logo.png">
        <!--NAVIGATION LINKS-->
        <a href="#home">HOME</a>
        <a href="#who">QUEM SOMOS</a>
        <a href="#catalog">CATÁLOGO</a>
        <a href="#about">SOBRE</a>
        <a href="#adress">LOCALIZAÇÃO</a>
        <a href="#midias">REDES</a>
        <a href="./Manual_Site.pdf" target="_blank" rel="noopener noreferrer">ajuda</a>
    </nav>

    <!-- SITE -->
    <main>

        <!--HOME-->
        <section id="home">
            <div class="home">
                <img src="./img/white_vertical_logo.png"><br>
                <p>Acreditamos que o trabalho bem-feito reflete não apenas técnica, mas também princípios sólidos,
                    trazendo significado para cada projeto. Nosso compromisso é entregar móveis planejados que inspirem
                    e tragam conforto, sempre com qualidade e atenção aos detalhes</p>
            </div>
        </section>

        <!--who-->
        <section id="who">
            <!-- CARD 'MISSÃO' -->
            <div class="card-who">
                <img src="./img/icon_who.png">
                <div class="card-txt">
                    <h5 class="title-bg-primary">MISSÃO</h5>
                    <p>
                        Transformar ambientes com móveis planejados que combinam qualidade, funcionalidade e propósito,
                        valorizando cada detalhe e promovendo confronto e beleza.
                    </p>
                </div>
            </div>

            <!-- CARD 'VISÃO' -->
            <div class="card-who">
                <img src="./img/icon_who.png">
                <div class="card-txt">
                    <h5 class="title-bg-primary">VISÃO</h5>
                    <p>
                        Ser referência em marcenaria de excelência, impactando positivamente cada espaço transformando e
                        deixando uma marca de valor e significado.
                    </p>
                </div>
            </div>

            <!-- CARD 'VALORES' -->
            <div class="card-who">
                <img src="./img/icon_who.png">
                <div class="card-txt">
                    <h5 class="title-bg-primary">VALORES</h5>
                    </h5>
                    <p>
                        • Qualidade: Móveis com alta durabilidade<br>
                        • Ética: honestidade e transparência<br>
                        • Comprometimento: Cumprir prazos e entregar resultados
                    </p>
                </div>
            </div>
        </section>

        <!--CATALOG-->
        <section id="catalog">
            <!--TITLE-->
            <h3 class="title-bg-primary">CATÁLOGO</h3>
            <!--BEIGE BACKGROUND-->
            <div class="catalog">
                <!--LEFT COLUMN-->
                <div class="left-catalog">
                    <h4>Diversas opções para escolher</h4>
                    <p>ofereço variedade de móveis em diferentes tamanhos, cores e estilos.</p>
                    <br><br>
                    <a href="../Catalog/catalog.php">
                        <button class="btn-catalog">
                            <p>Confira mais</p>
                        </button>
                    </a>
                    <!-- <a class="btn-catalog" href="../Catalog/catalog.php">Confira mais</a> -->
                </div>
                <!--RIGHT COLUMN-->
                <div class="right-catalog">
                    <a href="../Catalog/catalog.php">
                        <img class="ph-image" src="./img/placaholder_catalog.png">
                    </a>
                </div>
            </div>
        </section>

        <!--ABOUT-->
        <section id="about">
            <!--TITLE-->
            <h3 class="title-bg-primary">SOBRE</h3>
            <!--CONTENT-->
            <div class="about">
                <!--LEFT COLUMN-->
                <img class="img_perfil" src="./img/img_profile.jpg">
                <!--RIGHT COLUMN-->
                <div class="txt-about">
                    <br>
                    <h4>Raphael de Morais</h4>
                    <p>Com mais de 08 anos de experiência na área, Raphael de Morais decidiu fundar a Marcenaria Morais
                        em novembro de 2022, unindo tradição, inovação e propósito. Cada peça que criamos é pensada para
                        transformar ambientes e valorizar cada detalhe, com excelência e dedicação</p><br>
                </div>
            </div>
        </section>

        <!--ADRESS-->
        <section id="adress">
            <!--TÍTULO-->
            <h3 class="title-bg-accent">LOCALIZAÇÃO</h3>
            <!--GRAY BACKGROUND-->
            <div class="adress">
                <div class="adress-bg">
                    <!--LEFT COLUMN-->
                    <div class="left-adress">
                        <h5>São Paulo</h5>
                        <br>
                        <p>Bairro Jardim das Imbuias <br>
                            Rua Giovanni Romanelli, Nº 219 <br>
                            no CEP 04829-400</p>
                        <br>
                        <p>Aberto de segunda a sexta,<br>
                            das 8:00 até 18:00
                        </p>
                        <br>
                        <!-- <p>(11)97065-7953</p> -->
                        <a href="https://api.whatsapp.com/send?phone=5511970657953" target="_blank"
                            rel="noopener noreferrer">
                            <img src="./img/icon_white_whatsapp.png">
                            <p>(11)97065-7953</p>
                        </a>
                    </div>
                    <!--RIGHT COLUMN-->
                    <div class="right-adress">
                        <!--GOOGLE MAPS-->
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.3881089916495!2d-46.70828960000001!3d-23.733535600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4f5766f96469%3A0x920cd0d9345753ce!2sMarcenaria%20Morais%20-%20M%C3%B3veis%20Planejados!5e0!3m2!1sen!2sbr!4v1763170484971!5m2!1sen!2sbr"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <!--MIDIAS-->
        <section id="midias">
            <!--TÍTULO-->
            <h3 class="title-bg-primary">CONTATO</h3>
            <!--CONTENT-->
            <div class="midias">
                <div class="card-midias inta">
                    <img src="./img/icon_white_instagram.png">
                    <p>Confira também o instagram da loja</p>
                    <a href="https://www.instagram.com/marcenaria.morais_/" target="_blank" rel="noopener noreferrer">
                        <button class="btn-midias">
                            <p>Veja mais!</p>
                        </button>
                    </a>
                    <!-- <a class="btn-midias" href="https://www.instagram.com/marcenaria.morais_/">Veja mais!</a> -->
                </div>

                <div class="card-midias zap">
                    <img src="./img/icon_white_whatsapp.png">
                    <p>Fale conosco pelo whatsapp</p>
                    <a href="https://api.whatsapp.com/send?phone=5511970657953" target="_blank"
                        rel="noopener noreferrer">
                        <button class="btn-midias">
                            <p>Veja mais!</p>
                        </button>
                    </a>
                    <!-- <a class="btn-midias" href="https://www.instagram.com/marcenaria.morais_/">Veja mais!</a> -->
                </div>
            </div>
        </section>
        <!--WEBSITE END-->
    </main>

    <!-- FOOTER -->
    <footer>
        <p>©2025 <a href="../Devs/devs.html">Desenvolvedores</a></p>
    </footer>

    <!-- ARROWS -->
    <img src="./img/icon_white_up_arrow.png" class="up-arrow">
    <img src="./img/icon_white_down_arrow.png" class="down-arrow">

    <script src="../../Controller/Home.js"></script>
</body>

</html>